# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://ais-dev-kqming4a4jl37umko36g5v-11460842255.asia-southeast1.run.app/auth/google/callback

# App URL
APP_URL=https://ais-dev-kqming4a4jl37umko36g5v-11460842255.asia-southeast1.run.app
